.footer{
  height: 110px;
  background: #40514e;
}
.footer-content{
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.footer-content:hover{
  color: #f9f9f9ad;
  text-decoration: none;
}
.bottom-band{
background: rgba(26, 46, 42, 0.5);
  height: 40px;
  margin: 0px;
}

/* html, body {
  height: 100%;
  margin: 0;
}
#wrap {
  padding: 10px;
  min-height: -webkit-calc(100% - 100px);    
  min-height: -moz-calc(100% - 100px);     
  min-height: calc(100% - 100px);     
}
.footer {
  position: relative;
  clear:both;
} */
