.header-nav{
  background: #11999e;
  /* background: #30e3ca; */

}
.header-nav-brand{
  color: #f1f1f1 ;
  text-decoration: none;
  font-size: 35px;
  font-family: 'Righteous', cursive;
}
.header-nav-brand:hover{
  color: #f1f1f1c9;
  text-decoration: none;
}
.header-links{
  color: #f1f1f1;
  font-size: 20px;
}
.header-links:hover{
  color: #f1f1f1ce;
  text-decoration: none;
}
.vertical{
  border-right: 1px solid rgba(241,241,241,.2);
  height: 60px;
  
}
