.jumbotron-fluid{
  background-repeat: no-repeat;
  /* background-image: url(/public/assets/pic4.jpg); */
  background-size:100%,100%;
}
.img-fluid{
height: 300px;
width: 100%;
filter: blur(2px) grayscale(.2);

}